<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <p>Sentiment Analysis of Text Articles</p>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Enter complete URL of an article">
                <button type="submit" name="" value="submit" id="button">Analyze</button>
            </form>
            <section>

            <section class="result-conatiner">
                <h3 class="subheading">Form Results</h3>
                <div id="results">
                    <div id="tone"></div>
                    <div id="subjectivity"></div>
                </div>
            </section>
    </main>

    <footer>
        <p>Kewal Shah 2020</p>
    </footer>

</body>

</html>