@use 'variables';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: variables.$background-color;
}

main {
    flex: 2;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
