@use 'variables';

header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font: 700 2em variables.$primary-font;
    justify-content: center;
    p {
        text-align: center;
    }
}
